.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-group-dashboard {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-group-item-dashboard {
  width: 200px;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.btn-dashboard-users {
  margin-top: 10px;
}
