.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users__list-item {
  list-style: none;
  margin: 5px;
  width: 200px;
}

.users-list-group {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.list-group-item-container {
  display: flex;
  /*flex-basis: 100%;*/
  align-items: center;
}

.user__number {
  width: 100px;
  background-color: #d5d5d5;
}

.btn-flex {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 3px;
}

.users-header {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.users__button-container {
  display: flex;
  flex-basis: 30%;
}

.create-button {
  width: 500px;
}
